@using System.Drawing;
@using System.IO;

<div class="body">
    <div class="filling">
        <div>
            <p class="idStlP">Load ID: @ViewBag.Shipp.Id</p>
            <div class="routeBlock">
                <p class="routeInfP">@ViewBag.Shipp.AddresP, @ViewBag.Shipp.CityP, @ViewBag.Shipp.StateP, @ViewBag.Shipp.ZipP </p>
                <p class="routeInfP">@ViewBag.Shipp.AddresD, @ViewBag.Shipp.CityD, @ViewBag.Shipp.StateD, @ViewBag.Shipp.ZipD </p>
            </div>
            <p class="nameVehStlP">@ViewBag.Vehiclw.Year @ViewBag.Vehiclw.Make @ViewBag.Vehiclw.Model</p>
            @if (ViewBag.Vehiclw.Ask != null)
            {
                <p class="typeVehStlP">Type: @ViewBag.Vehiclw.Ask.TypeVehicle</p>
            }
        </div>
        <hr />
        <div class="inspectionBlock">
            <p class="headStlP">Pickup Inspection</p>
            <br />
            <p class="headPhoto">Photo inspection</p>
            @if (ViewBag.Vehiclw.PhotoInspections != null)
            {
                <div class="blockAllPhoto">
                    <img class="img Photola" src="data:image/gif;base64,@ViewBag.Vehiclw.Scan.Base64" />
                    @for (int i = 0; i < ViewBag.Vehiclw.PhotoInspections.Count; i++)
                    {
                        @for (int j = 0; j < ViewBag.Vehiclw.PhotoInspections[i].Photos.Count; j++)
                        {
                            byte[] image = Convert.FromBase64String(@ViewBag.Vehiclw.PhotoInspections[i].Photos[j].Base64);
                            MemoryStream ms = new MemoryStream(image);
                            Image img = Image.FromStream(ms);
                            if (img.Height > img.Width)
                            {
                                <img class="img Photove" src="data:image/gif;base64,@ViewBag.Vehiclw.PhotoInspections[i].Photos[j].Base64" />
                            }
                            else
                            {
                                <img class="img Photola" src="data:image/gif;base64,@ViewBag.Vehiclw.PhotoInspections[i].Photos[j].Base64" />
                            }
                        }
                    }
                </div>
            }
            else
            {
                <p class="noPhotoP">No Photo</p>
            }
            <p class="headPhoto">Photos of personal or additional items with the vehicle</p>
            @if (ViewBag.Vehiclw.Ask != null && ViewBag.Vehiclw.Ask.Any_personal_or_additional_items_with_or_in_vehicle != null)
            {
                @for (int i = 0; i < ViewBag.Vehiclw.Ask.Any_personal_or_additional_items_with_or_in_vehicle.count; i++)
                {
                    byte[] image = Convert.FromBase64String(ViewBag.Vehiclw.Ask.Any_personal_or_additional_items_with_or_in_vehicle[i].Base64);
                    MemoryStream ms = new MemoryStream(image);
                    Image img = Image.FromStream(ms);
                    if (img.Height > img.Width)
                    {
                        <img class="img Photove" src="data:image/gif;base64,@ViewBag.Vehiclw.Ask.Any_personal_or_additional_items_with_or_in_vehicle[1].Base64" />
                    }
                    else
                    {
                        <img class="img Photola" src="data:image/gif;base64,@ViewBag.Vehiclw.Ask.Any_personal_or_additional_items_with_or_in_vehicle[i].Base64" />
                    }
                }
            }
            else
            {
                <p class="noPhotoP">No Photo</p>
            }
        </div>
    </div>
</div>
<style type="text/css">
    * {
        margin: 0px;
    }

    .noPhotoP{
        color:rgba(66, 58, 58, 0.66);
        font-size: 20px;
        margin:5px;
    }

    .headPhoto {
        color: rgba(59, 51, 51, 0.87);
        font-size: 23px;
    }

    .blockAllPhoto {
        padding: 5px;
        display: flex;
        flex-wrap:wrap;
        align-items:center;
    }

    .img {
        margin: 5px;
        border-width: 1px;
        padding: 5px;
        border-style: groove;
    }

    .Photola {
        height: 19%;
        width: 19%;
    }

    .Photove {
        height: 10%;
        width: 10%;
    }

    @@media (max-width: 800px) {
        .Photove {
            height: 100%;
            width: 100%;
        }

        .Photola {
            height: 100%;
            width: 100%;
        }
    }

    .inspectionBlock {
        margin: 10px;
    }

    .routeBlock {
        margin: 5px;
    }

    .idStlP {
        color: #421f0e;
        font-size: 20px;
        margin: 20px;
    }

    .headStlP {
        color: black;
        font-size: 27px;
        margin: 20px, 20px, 20px, 0px;
    }

    .nameVehStlP {
        color: #e29334;
        font-size: 25px;
        margin: 20px, 20px, 20px, 0px;
    }

    .typeVehStlP {
        color: #e29334;
        font-size: 22px;
        margin: 20px;
    }

    .routeInfP {
        margin: 10px;
        font-size: 17px;
        color: #f3a74c;
    }

    .body {
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .filling {
        width: 100%;
    }
</style>