
    <div class="body">
        <div style="display:flex;">
            <input class="btnCreateoOrder" type="button" value="Add Truck" onclick="window.location.href='@Url.Action("CreateTruck", "Equipment")';" />
        </div>
        <nav>
            <input class="btnSt activeBtn" type="button" value="Trucks" onclick="window.location.href='@Url.Action("Trucks", "Equipment")';" />
            <input class="btnSt" type="button" value="Trailers" onclick="window.location.href='@Url.Action("Trailers", "Equipment")';" />
        </nav>
        <div class="contentBody">
            <table>
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Year
                        </th>
                        <th>
                            Make
                        </th>
                        <th>
                            Model
                        </th>
                        <th>
                            Type
                        </th>
                        <th>
                            Color
                        </th>
                        <th>
                            Plate #
                        </th>
                        <th>
                            State
                        </th>
                        <th>
                            Plate Exp
                        </th>
                        <th>
                            Vin #
                        </th>
                        <th>
                            Owner
                        </th>
                        <th>
                            🖱
                        </th>
                        <th>
                            🖱
                        </th>
                        <th>
                            🖱
                        </th>
                        <th>
                            🖱
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for(int i = 0; i< ViewBag.Trucks.Count; i++)
                    {
                    <tr>
                        <td>
                            @ViewBag.Trucks[i].NameTruk
                        </td>
                        <td>
                            @ViewBag.Trucks[i].Yera
                        </td>
                        <td>
                            @ViewBag.Trucks[i].Make
                        </td>
                        <td>
                            @ViewBag.Trucks[i].Model
                        </td>
                        <td>
                            @ViewBag.Trucks[i].TypeTruk
                        </td>
                        <td>
                            @ViewBag.Trucks[i].ColorTruk
                        </td>
                        <td>
                            @ViewBag.Trucks[i].PlateTruk
                        </td>
                        <td>
                            @ViewBag.Trucks[i].Satet
                        </td>
                        <td>
                            @ViewBag.Trucks[i].Exp
                        </td>
                        <td>
                            @ViewBag.Trucks[i].Vin
                        </td>
                        <td>
                            @ViewBag.Trucks[i].Owner
                        </td>
                        <td style="cursor:pointer" onclick="ViewInspection(@ViewBag.Trucks[i].Id)">
                            ⇥
                        </td>
                        <td style="cursor:pointer;">
                            ✎
                        </td>
                        <td onclick="GoToTruckDoc(@ViewBag.Trucks[i].Id)">
                            🖺
                        </td>
                        <td style="cursor:pointer;" onclick="Remove(@ViewBag.Trucks[i].Id)">
                            ✖
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

<script>

     function CheckSelectExel(fille, id) {
        
            let url = "@ViewBag.BaseUrl/Equipment/SaveFile";
            let xmlHttp = new XMLHttpRequest();
            xmlHttp.onreadystatechange = function () { 
               
            }
            let formData = new FormData();
            formData.append("uploadedFile", fille.files[0]);
            formData.append("id", id);
            xmlHttp.open("POST", url, true);
            xmlHttp.setRequestHeader('Accept-Encoding', 'br');
            xmlHttp.send(formData);
       
    }

    function ViewInspection(id) {
        document.location.href =  "@ViewBag.BaseUrl/Driver/InspactionTrucks?idDriver=0&idTruck="+id+"&idTrailer=0&date=0";;
    }

    function Remove(id) {
        document.location.href = "@ViewBag.BaseUrl/Equipment/Truck/Remove?id="+id;
    }

    function GoToTruckDoc(id) {
        document.location.href = "@ViewBag.BaseUrl/Equipment/Truck/Doc?id="+id;
    }
</script>

<style>
    * {
        margin: 0px;
        -webkit-appearance: none;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th {
        color:#878787;
        background-color: rgba(105, 105, 105, 0.15);
        font-size: 20px;
        border-width:1px;
        border-bottom: 1px solid #878787;
    }

    td {
        color:#a6a6a6;
        font-size: 18px;
        text-align: center;
    }

   tbody tr:nth-child(odd) {

    background-color: #f9f9f9;/* фон нечетных строк */

  }

  tbody tr:nth-child(even) {

    background-color: rgba(105, 105, 105, 0.15);/* фон четных строк */

  }

    .btnSt {
        margin-left: 5px;
        border: none;
        width: 120px;
        height: 40px;
        background-color: white;
        font-size: 20px;
        color: rgb(51, 51, 51);
        border-color: rgba(51, 51, 51, 1);
    }
    
    .activeBtn {
        border-radius: 1px;
        border-top: solid;
        border-right: solid;
        border-left: solid;
        border-width: 1.3px;
        position:relative;
        top: 2px;
        border-color: rgba(51, 51, 51, 0.3);
    }

    .btnCreateoOrder {
        color: white;
        background-color: darkgray;
        display: inline-block;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        border: 2px solid;
        border-radius: 7px;
        margin-bottom: 10px;
        margin-left: 14px;
    }

        .btnCreateoOrder:hover {
            transition: 0.3s;
            background-color: rgb(51, 51, 51);
        }

    .btnId:hover {
        background-color: rgba(45,45,45,0.98);
        color: white;
        transition: 0.5s;
    }

    .btnId {
        color: rgba(45,45,45,0.88);
        background: none;
        display: inline-block;
        padding: 6px;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        border: 1px solid;
        border-radius: 4px;
        margin: 2px;
    }

    .inpData {
        font-size: 18px;
        color: rgb(51, 51, 51);
    }

    .contentBody {
        width:100%;
        height:100px;
        border-top:solid;
        border-width:1px;
        border-color: rgba(51, 51, 51, 0.3);
    }

    .body {
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;
    }
</style>