<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div style="background-color: rgba(45,45,45,0.9);display:flex;position:fixed; width:100%;top:0px;z-index:100;">
        <img class="imgMirir" src="~/Icon/MirorR.png" height="40" asp-append-version="true"/>
        <nav class="navst">
            <span><a class="linkASt" href="http://truckonnow.com">Truckonnow</a></span>
            <input class="btn" type="button" value="Order" @ViewData["hidden"] onclick="window.location.href='@Url.Action("NewLoad", "Dashbord")';" />
            <input class="btn" type="button" value="GPS Traking" @ViewData["hidden"] onclick="window.location.href='@Url.Action("Map", "Geolcation")';" />
            <input class="btn" type="button" value="Contacts" @ViewData["hidden"] onclick="window.location.href='@Url.Action("Contacts", "Contact")';" />
            <input class="btn" type="button" value="Drivers" @ViewData["hidden"] onclick="window.location.href='@Url.Action("Drivers", "Driver")';" />
            <input class="btn" type="button" value="Equipment" @ViewData["hidden"] onclick="window.location.href='@Url.Action("Trucks", "Equipment")';" />
            <input class="btn" type="button" value="Report" @ViewData["hidden"] />
        </nav>
        <img class="imgMirir" src="~/Icon/MirorL.png" height="40" asp-append-version="true"/>
    </div>
    <div style="width:99%;height:97vh;padding-top:30px">
        @RenderBody()
    </div>
</body>
</html>
<style>
    body {
        padding:0px;
        margin: 0px;
    }

    .navst {
        width: 99%;
        height: 30px;
        margin: 0px;
        padding: 8px;
        top: 0px;
        left: 0px;
        display:flex;
        justify-content:center;
    }

    .imgMirir {
        margin: 4px;
        transition: transform .7s;
    }

    .imgMirir:hover {
        transform: rotate3d(5, 10.0, 2.00, 40deg);
        transition: transform .7s ease-in-out;
    }

    a {
        text-decoration: none;
        margin: 0px;
    } 
        
    .linkASt {
        font-size: 25px;
        color: #ffffff;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
    
    .btn {
        background-color:rgba(0, 0, 0, 0.00);
        border:none;
        height:40px;
        color:white;
        font-size:15px;
        margin-left:80px;
    }

        .btn:hover {
            color: silver;
            transition: 0.3s
        }

    * {
        outline: none !important
    }
</style>