<div class="body">
    <input class="backBtn" type="button" value="← Back to Orders" onclick="history.back();" />
    <form action="SavaOrder" method="post">
        <input type="text" name="idOrder" style="display:none;" value="@ViewBag.Order.Id"/>
        <div class="contentBody">
            <div class="content">
                <p class="inpLabe">Load Id</p>
                <input name="idLoad" class="inpText" type="text" value="@ViewBag.Order.idOrder" />
                <p class="inpLabe">Internal Load ID</p>
                <input name="internalLoadID" class="inpText" type="text" value="@ViewBag.Order.InternalLoadID" />
                <p class="inpLabe">Driver</p>
                <select name="driver" class="dropDown">
                    <option value="">------------------------------------</option>
                </select>
            </div>
            <div class="content">
                <p class="inpLabe">Status</p>
                <select name="status" class="dropDown">
                    <option value="">------------------------------------</option>
                    <option value="NewLoad">NewLoad</option>
                    <option value="Picked up">Picked up</option>
                    <option value="Delivered">Delivered</option>
                </select>
                <p class="inpLabe">Instructions</p>
                <textarea name="instructions" class="inpText" style="height:92px;">@ViewBag.Order.Titl1DI</textarea>
            </div>
        </div>
        <div class="contentBody">
            <div class="content">
                <h2 style="color:rgb(51, 51, 51);margin-bottom:2px;">Pickup Information</h2>
                <p class="inpLabe">Name</p>
                <input name="nameP" class="inpText" type="text" value="@ViewBag.Order.NameP" />
                <p class="inpLabe">Contact</p>
                <input name="contactP" class="inpText" type="text" value="@ViewBag.Order.ContactNameP" />
                <p class="inpLabe">Address</p>
                <input name="addressP" class="inpText" type="text" value="@ViewBag.Order.AddresP" />
                <p class="inpLabe">City</p>
                <input name="cityP" class="inpText" type="text" value="@ViewBag.Order.CityP" />
                <p class="inpLabe">State</p>
                <input name="stateP" class="inpText" type="text" value="@ViewBag.Order.StateP" />
                <p class="inpLabe">Zip</p>
                <input name="zipP" class="inpText" type="text" value="@ViewBag.Order.ZipP" />
                <p class="inpLabe">Phone</p>
                <input name="phoneP" class="inpText" type="text" value="@ViewBag.Order.PhoneP" />
                <p class="inpLabe">Email</p>
                <input name="emailP" class="inpText" type="text" value="@ViewBag.Order.EmailP" />
                <p class="inpLabe">Scheduled Pickup Date</p>
                <input name="scheduledPickupDateP" class="inpText" type="text" value="@ViewBag.Order.PickupExactly" />
            </div>
            <div class="content">
                <h2 style="color:rgb(51, 51, 51);margin-bottom:2px;">Delivery Information</h2>
                <p class="inpLabe">Name</p>
                <input name="nameD" class="inpText" type="text" value="@ViewBag.Order.NameD" />
                <p class="inpLabe">Contact</p>
                <input name="contactD" class="inpText" type="text" value="@ViewBag.Order.ContactNameD" />
                <p class="inpLabe">Address</p>
                <input name="addressD" class="inpText" type="text" value="@ViewBag.Order.AddresD" />
                <p class="inpLabe">City</p>
                <input name="cityD" class="inpText" type="text" value="@ViewBag.Order.CityD" />
                <p class="inpLabe">State</p>
                <input name="stateD" class="inpText" type="text" value="@ViewBag.Order.StateD" />
                <p class="inpLabe">Zip</p>
                <input name="zipD" class="inpText" type="text" value="@ViewBag.Order.ZipD" />
                <p class="inpLabe">Phone</p>
                <input name="phoneD" class="inpText" type="text" value="@ViewBag.Order.PhoneD" />
                <p class="inpLabe">Email</p>
                <input name="emailD" class="inpText" type="text" value="@ViewBag.Order.EmailD" />
                <p class="inpLabe">Scheduled Pickup Date</p>
                <input name="scheduledPickupDateD" class="inpText" type="text" value="@ViewBag.Order.DeliveryEstimated" />
            </div>
        </div>
        <div class="bodyTable">
            <input type="text" name="idOrder" style="display:none;" value="@ViewBag.Order.Id" />
            <h4 class="headTabe">Vehicles</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>VIN</th>
                        <th>Year</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Type</th>
                        <th>Color</th>
                        <th>Lot Number</th>
                    </tr>
                </thead>
                <tbody id="tbVecl">
                    @if (ViewBag.Order.VehiclwInformations != null)
                    {
                        @for (int i = 0; i < ViewBag.Order.VehiclwInformations.Count; i++)
                        {
                            <tr id="@ViewBag.Order.VehiclwInformations[i].Id">
                                <td>@i</td>
                                <td><input class="inpTextTr" type="text" value="@ViewBag.Order.VehiclwInformations[i].VIN" /></td>
                                <td><input class="inpTextTr" type="text" value="@ViewBag.Order.VehiclwInformations[i].Year" /></td>
                                <td><input class="inpTextTr" type="text" value="@ViewBag.Order.VehiclwInformations[i].Make" /></td>
                                <td><input class="inpTextTr" type="text" value="@ViewBag.Order.VehiclwInformations[i].Model" /></td>
                                <td><input class="inpTextTr" type="text" value="@ViewBag.Order.VehiclwInformations[i].Type" /></td>
                                <td><input class="inpTextTr" type="text" value="@ViewBag.Order.VehiclwInformations[i].Color" /></td>
                                <td><input class="inpTextTr" type="text" value="@ViewBag.Order.VehiclwInformations[i].Lot" /></td>
                                <td><input class="inpTextTr btnD" type="button" value="-" onclick="RemoveVech(this)" /></td>
                                <td><input class="inpTextTr btnD" type="button" value="S" onclick="SaveVech(this)" /></td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <input class="btnAddandRevoveVech btnD" type="button" value="+" onclick="AddVech(this)"/>
        </div>
        <hr style="border-color:rgba(228, 228, 228, 0.40);margin:10px;" />
        <div class="contentBody">
            <div class="content">
                <h2 style="color:rgb(51, 51, 51);margin-bottom:2px;">Payment Information</h2>
                <p class="inpLabe">Payment method</p>
                <select name="paymentMethod" class="dropDown">
                    <option value="">------------------------------------</option>
                    <option value="NewLoad">NewLoad</option>
                </select>
                <p class="inpLabe">Price</p>
                <input name="price" class="inpText" type="text" value="@ViewBag.Order.PriceListed" />
                <p class="inpLabe">Broker Fee</p>
                <input name="brokerFee" class="inpText" type="text" value="@ViewBag.Order.BrokerFee" />
            </div>
            <div class="content">
                <p class="inpLabe">Payment terms</p>
                <textarea name="paymentTerms" class="inpText" style="height:92px;">IT ADD</textarea>
                <div style="display:flex;">
                    <input class="btnSave" value="Save" type="submit" />
                    <a class="btnArchived" href="Config.BaseReqvesteUrl/Dashbord/Order/ArchivedOrder?id=@ViewBag.Order.Id">Archive</a>
                    <a class="btnDeleted" href="Config.BaseReqvesteUrl/Dashbord/Order/DeletedOrder?id=@ViewBag.Order.Id&status=NewLoad">Deleted</a>
                </div>
            </div>
        </div>
    </form>
</div>
<script>
    function SaveVech(btnE) {
        let idVech = btnE.parentElement.parentElement.id;
        let VIN = btnE.parentElement.parentElement.children[1].children[0].value;
        let Year = btnE.parentElement.parentElement.children[2].children[0].value;
        let Make = btnE.parentElement.parentElement.children[3].children[0].value;
        let Model = btnE.parentElement.parentElement.children[4].children[0].value;
        let Type = btnE.parentElement.parentElement.children[5].children[0].value;
        let Color = btnE.parentElement.parentElement.children[6].children[0].value;
        let LotNumber = btnE.parentElement.parentElement.children[7].children[0].value;
        let Req = "idVech=" + idVech + "&VIN=" + VIN + "&Year=" + Year + "&Make=" + Make + "&Model=" + Model + "&Type=" + Type + "&Color=" + Color + "&LotNumber=" + LotNumber; 
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function (e) {
            if (this.readyState == 4 && this.status == 200) {
                alert(this.responseText);
            }
        };
        xhttp.open("POST", "@ViewBag.BaseUrl/Dashbord/Order/SavaVech", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(Req);
    }

    function RemoveVech(btnE) {
        let idVech = btnE.parentElement.parentElement.id;
        let Req = "idVech=" + idVech;
        let tdElms = btnE.parentElement.parentElement.parentElement;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function (e) {
            if (this.readyState == 4 && this.status == 200) {
                alert(this.responseText);
            }
        };
        xhttp.open("POST", "@ViewBag.BaseUrl/Dashbord/Order/RemoveVech", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(Req);
        tdElms.removeChild(FindId(tdElms.children, idVech));
    }

    function FindId(elms, idVech) {
        let tdElm;
        for (let i = 0; i < elms.length; i++) {
            if (elms[i].id == idVech) {
                tdElm = elms[i];
                break;
            }
        }
        return tdElm;
    }

    function AddVech(btnE) {
        let idOrder = btnE.parentElement.children[0].value;
        var xhttp = new XMLHttpRequest();
        let Req = "idOrder=" + idOrder;
        xhttp.onreadystatechange = function (e) {
            if (this.readyState == 4 && this.status == 200) {
                alert(this.responseText);
                location.reload(true);
            }
        };
        xhttp.open("POST", "@ViewBag.BaseUrl/Dashbord/Order/AddVech", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send(Req);
    }
</script>
        <style>
            * {
                margin: 0px;
            }

            .btnAddandRevoveVech {
                border: none;
                width: 30px;
                background-color: #f9a038;
                color: #000000;
            }

            .btnSave {
                margin:2px;
                background-color: #323b85;
                border-style: double;
                border-color: #8faac3;
                border-radius: 10px;
                color: white;
                width: 100px;
                height: 40px;
                border-style: double;
            }

            .btnArchived {
                margin: 2px;
                background-color: #329703;
                border-color: #33db26;
                border-radius: 10px;
                color: white;
                padding: 7px;
                font-size: 17px;
                border-style: double;
            }

            .btnDeleted {
                margin: 2px;
                background-color: #b51616;
                border-color: #893030;
                border-radius: 10px;
                color: white;
                padding: 7px;
                font-size: 17px;
                text-align: center;
                border-style: double;
            }

            btnSave:hover {
                background-color: #8c8ac2;
            }


            .btnD:hover {
                background: rgba(243, 167, 76, 0.29);
            }

            .dropDown {
                width: 100%;
                height: 30px;
                border-width: 1px;
                border-style: solid;
                border-radius: 4px;
                padding: 2px;
                font-size: 18px;
                color: rgb(51, 51, 51);
                border-color: rgba(51, 51, 51, 0.4);
                margin-bottom: 15px;
            }

            .inpTextTr {
                border: none;
                width: 97%;
                background-color: rgba(228, 228, 228, 0.40);
                color: rgb(51, 51, 51);
                padding: 5px;
            }

            tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
            }

            td, th {
                text-align: center;
                color: rgb(51, 51, 51);
            }

            td {
                background-color: rgba(228, 228, 228, 0.40);

            }

            .table {
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
            }

            .headTabe {
                font-size: 21px;
                margin-left: 10px;
                color: rgb(51, 51, 51);
            }

                .bodyTable {
                margin: 15px;
            }

            .inpLabe {
                font-size: 18px;
                color: rgb(51, 51, 51);
                margin-top:10px;
            }

            .inpText {
                width: 100%;
                height: 25px;
                border-width: 1px;
                border-style: solid;
                border-radius: 4px;
                padding: 2px;
                font-size: 16px;
                color: rgb(51, 51, 51);
                border-color: rgba(51, 51, 51, 0.24);
                margin-bottom: 15px;
            }

            .content {
                width: 40%;
            }

            .contentBody {
                display:flex;
                justify-content:space-around;
            }

            .backBtn {
                background: none;
                border: none;
                font-size: 17px;
                color: #ffd7a6;
                margin-bottom: 20px;
            }

            .body {
                margin-top: 30px;
                margin-left: 5px;
                margin-right: 5px;
                padding: 10px;
            }
        </style>