<div class="body">
    <input class="backBtn" type="button" value="← Back to Orders" onclick="history.back();" /><br />
    <div>
        <select class="inpContentInspection" onchange="window.location.href = 'InspactionTrucks?IdDriver=@ViewBag.IdDriver&idTruck=@ViewBag.IdTruck&idTrailer=@ViewBag.IdTrailer&date=' + this.options[this.selectedIndex].value;">
            <option selected value="0">All time</option>
            @for (DateTime i = DateTime.Now; i >= new DateTime(2019, 8, 1); i = i.AddMonths(-1))
            {
                @if (i.ToShortDateString() != @ViewBag.SelectData)
                {
                    <option>@i.ToShortDateString()</option>
                }
                else
                {
                    <option selected>@ViewBag.SelectData</option>
                }
            }
        </select>
        <select class="inpContentInspection" onchange="window.location.href = 'InspactionTrucks?IdDriver=' + this.options[this.selectedIndex].value  + '&idTruck=@ViewBag.IdTruck&idTrailer=@ViewBag.IdTrailer&date=@ViewBag.SelectData'">
            <option selected value="0">All Drivers</option>
            @for (int i = 0; i < ViewBag.Drivers.Count; i++)
            {
                @if (ViewBag.IdDriver.ToString() == ViewBag.Drivers[i].Id.ToString())
                {
                    <option selected value="@ViewBag.Drivers[i].Id">@ViewBag.Drivers[i].FullName</option>
                }
                else
                {
                    <option value="@ViewBag.Drivers[i].Id">@ViewBag.Drivers[i].FullName</option>
                }
            }
        </select>
          <select class="inpContentInspection" onchange="window.location.href = 'InspactionTrucks?IdDriver=@ViewBag.IdDriver&idTruck=' + this.options[this.selectedIndex].value + '&idTrailer=@ViewBag.IdTrailer&date=@ViewBag.SelectData'">
            <option selected value="0">All Truck</option>
            @for (int i = 0; i < ViewBag.Trucks.Count; i++)
            {
                @if (ViewBag.IdTruck.ToString() == ViewBag.Trucks[i].Id.ToString())
                {
          <option selected value="@ViewBag.Trucks[i].Id">@ViewBag.Trucks[i].Make @ViewBag.Trucks[i].Model</option>
                }
                else
                {
          <option value="@ViewBag.Trucks[i].Id">@ViewBag.Trucks[i].Make @ViewBag.Trucks[i].Model</option>
                }
            }
        </select>
          <select class="inpContentInspection" onchange="window.location.href = 'InspactionTrucks?IdDriver=@ViewBag.IdDriver&idTruck=@ViewBag.IdTruck&idTrailer='+ this.options[this.selectedIndex].value +'&date=@ViewBag.SelectData'">
            <option selected value="0">All Trailer</option>
            @for (int i = 0; i < ViewBag.Trailers.Count; i++)
            {
                @if (ViewBag.IdTrailer.ToString() == ViewBag.Trailers[i].Id.ToString())
                {
          <option selected value="@ViewBag.Trailers[i].Id">@ViewBag.Trailers[i].Make</option>
                }
                else
                {
          <option value="@ViewBag.Trailers[i].Id">@ViewBag.Trailers[i].Make</option>
                }
            }
        </select>
    </div>
    <hr />
    <div class="contentBody">
        @for (int i = 0; i < ViewBag.InspectionTruck.Count; i++)
        {
            <div class="contentInspection" onclick="window.location.href='InspactionTruck?idInspection=@ViewBag.InspectionTruck[i].Id&idDriver=@ViewBag.IdDriver&date=@ViewBag.SelectData'">
                <span class="inpData">Driver: @ViewBag.InspectionTruck[i].NameDriver</span><br />
                <span class="inpData">Truc: @ViewBag.InspectionTruck[i].Truck</span><br />
                <span class="inpData">Trailer: @ViewBag.InspectionTruck[i].Trailer</span><br />
                <span class="inpData">Inspection:  @ViewBag.InspectionTruck[i].Date</span>
            </div>
        }
    </div>
</div>

<style>
    .backBtn {
        background: none;
        border: none;
        font-size: 17px;
        color: #313336;
        margin-bottom: 20px;
    }

    .inpData {
        font-size: 22px;
        color: rgb(51, 51, 51);
    }

    .contentInspection {
        padding: 15px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(45, 45, 45, 0.38);
        border-radius: 10px;
        width: 15%;
        margin: 10px;
    }

    .inpContentInspection{
        display: inline-block ;
        width: 200px;
        padding: 5px 10px;
        border: 1px solid ;
        border-radius: 10px;
        border: 1px solid black;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .contentInspection:hover
    {
        box-shadow: inset -35px 25px 35px 0px #323947;
        -webkit-box-shadow: inset -35px 25px 35px 0px #323947;
        -moz-box-shadow: inset -35px 25px 35px 0px #323947;
        transition: 0.3s;
    }

    .contentBody {
        margin: 10px;
        display:flex;
        flex-wrap:wrap;
        justify-content:space-between;
    }

    .body {
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;
    }
</style>