<div class="body">
    <div style="display:flex;">
        <input class="btnCreateoOrder" type="button" value="Add Driver" onclick="window.location.href='@Url.Action("CreateDriver", "Driver")';" />
    </div>
    <div class="contentBody">
        @for (int i = 0; i < ViewBag.Drivers.Count; i++)
        {
            <div class="contentDriver">
                <p class="inpData">@ViewBag.Drivers[i].FullName</p>
                <p2 class="inpData">Trailer capacity: @ViewBag.Drivers[i].TrailerCapacity</p2>
                <span class="inpData">Email: @ViewBag.Drivers[i].EmailAddress</span>
                <span class="inpData">, </span>
                <span class="inpData">Phone: @ViewBag.Drivers[i].PhoneNumber</span><br /> <br />
                <input class="btnId" value="Edit" type="button" />
                <input class="btnId" value="Reactivate" type="button" />
                <input class="btnId" value="Remove" type="button" onclick="Remove(@ViewBag.Drivers[i].Id)"/>
            </div>
        }
    </div>
</div>

<script>
    function Remove(id) {
        document.location.href = "Config.BaseReqvesteUrl/Driver/Drivers/Remove?id="+id;
    }
</script>

        <style>
            * {
                margin: 0px;
            }

            .btnCreateoOrder {
                color: white;
                background-color: #ffbd6b;
                display: inline-block;
                padding: 10px;
                font-size: 14px;
                font-weight: 300;
                text-align: center;
                border: 2px solid;
                border-radius: 7px;
                margin-bottom: 10px;
            }

                .btnCreateoOrder:hover {
                    background-color: #ffd7a6;
                }

            .btnId:hover {
                background-color: #ffbd6b;
                color: white;
            }

            .btnId {
                color: #ffbd6b;
                background: none;
                border-color: #ffbd6b;
                display: inline-block;
                padding: 8px;
                font-size: 11px;
                font-weight: 400;
                text-align: center;
                border: 2px solid;
                border-radius: 4px;
            }

            .inpData {
                font-size: 18px;
                color: #f3a74c;
            }

            .contentDriver {
                padding: 20px;
                border-width: 1px;
                border-style: double;
                border-color: #f3a74c;
                width:80%;
                margin:5px;
            }

            .contentBody {
                margin: 10px;
            }

            .body {
                margin-top: 30px;
                margin-left: 5px;
                margin-right: 5px;
                padding: 10px;
            }
        </style>
