<div class="body">
    <div style="display:flex;">
        <input class="btnCreateoOrder" type="button" value="Add Driver" onclick="window.location.href='@Url.Action("CreateDriver", "Driver")';" />
    </div>
    <nav>
        <input class="btnSt activeBtn" type="button" value="Drivers" onclick="window.location.href='@Url.Action("Drivers", "Driver")';" />
        <input style="width:150px" class="btnSt" type="button" value="Driver check" onclick="window.location.href='@Url.Action("Check", "Driver")';" />
        <input style="width:150px" class="btnSt" type="button" value="Report driver" onclick="window.location.href='@Url.Action("AddReport", "Driver")';" />
    </nav>
    <div class="contentBody">
        @for (int i = 0; i < ViewBag.Drivers.Count; i++)
        {
            <div class="contentDriver">
                <div>

                    <p class="inpData">@ViewBag.Drivers[i].FullName</p>
                    <span class="inpData">Trailer capacity: @ViewBag.Drivers[i].TrailerCapacity,</span>
                    <span class="inpData">Email: @ViewBag.Drivers[i].EmailAddress</span><br /> <br />
                    <span class="inpData">Phone: @ViewBag.Drivers[i].PhoneNumber,</span>
                    <span class="inpData">Registration: @ViewBag.Drivers[i].DateRegistration</span><br /> <br />
                    <a href="@ViewBag.BaseUrl/Driver/Drivers/Edit?id=@ViewBag.Drivers[i].Id" class="btnId">Edit</a>
                    <input class="btnId" value="Remove" type="button" onclick="ShowAlert(@ViewBag.Drivers[i].Id)" />
                    <a class="btnId" href="~/Driver/InspactionTrucks?idDriver=@ViewBag.Drivers[i].Id&idTruck=0&idTrailer=0&date=0">Inspection</a>
                </div>
            </div>
        }
    </div>
    <dialog @*onclick="HiddenDialog()"*@>
        <content class="ng-modal-wrapper">
            <div class="modal-dialog">
                <div class="modal-dialog-content ng-scope multiple">
                    <h1 class="ng-binding">Describe the reason for the dismissal of the driver</h1>
                    <div class="modal-dialog-content">
                        <div>
                                <span class="spanModal">Description</span> <br />
                                <div>
                                    <textarea id="descriptionTA" type="text" class="modal-inp-text validation" name="nameDoc" placeholder="Enter description" style="margin-left:5px;" required></textarea><br />
                                </div>
                            </div>
                    </div>
                    <div class="modal-buttons flush ng-scope">
                        <div class="right-buttons">
                            <button class="btnModal red" onclick="HiddenDialog()">Close</button>
                            <input class="btnModal green" type="button" value="Apply" onclick="Remove()" />
                        </div>
                    </div>
                </div>
            </div>
        </content>
    </dialog>
</div>

<script>

    var IdDriver;
    function ShowAlert(idDriver) {
        IdDriver = idDriver;
        let dialog = document.querySelector('dialog');
        dialog.show();
    }

    function HiddenDialog() {
        let dialog = document.querySelector('dialog');
        dialog.close();
    }

    function Remove() {
        let descriptionTA = document.getElementById("descriptionTA");
        descriptionTA.validity.valid
        if (descriptionTA.validity.valid) {
            document.location.href = "@ViewBag.BaseUrl/Driver/Drivers/Remove?id=" + IdDriver + "&comment=" + descriptionTA.value;
        }
    }
</script>

<style>
    * {
        margin: 0px;
    }

    .validation:invalid {
        border-color: red;
    }

    .validation:valid {
        border-color: #4ad73b;
    }

    .modal-dialog .modal-dialog-content.multiple {
        padding-bottom: 0;
    }

    .modal-dialog .modal-dialog-content {
        padding: 10px 10px 10px 10px;
        font-size: 15px;
    }

    .modal-dialog .modal-dialog-content {
        transition: height 0.25s linear;
    }

    dialog {
        position: fixed;
        z-index: 9500;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        overflow-y: auto;
        font-size: 0;
        text-align: center;
    }

    .modal-dialog {
        position: absolute;
        left: 30%;
        top: 80px;
        width: 700px;
        text-align: left;
        background-color: #fff;
        -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
        -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15), 0px 0px 1px 1px rgba(0, 0, 0, 0.05);
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        transition: height 0.25s linear;
    }

        .modal-dialog .modal-dialog-content h1 {
            font-size: 19px;
            line-height: 22px;
            letter-spacing: -.026em;
            font-family: 'SF UI Text Medium', 'SF UI Text Light', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, Verdana, sans-serif;
            font-weight: 500;
            margin-bottom: 14px;
        }

    .ng-modal-wrapper {
        display: inline-block;
        vertical-align: middle;
        padding: 50px 0;
        width: 100%;
        position: relative;
    }

    .modal-dialog .modal-dialog-content h1 {
        font-size: 19px;
        line-height: 22px;
        letter-spacing: -.026em;
        font-family: 'SF UI Text Medium', 'SF UI Text Light', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, Verdana, sans-serif;
        font-weight: 500;
        margin-bottom: 14px;
    }

    .modal-dialog .modal-dialog-content + .modal-dialog-content {
        padding-top: 0;
    }

    .modal-dialog .modal-dialog-content {
        padding: 20px 30px 20px 10px;
        font-size: 15px;
    }

    .modal-dialog .modal-dialog-content {
        transition: height 0.25s linear;
    }

    .tb-modal__body {
        box-sizing: border-box;
        padding: 18px 30px 31px;
    }

    .modal-buttons {
        border-top: 1px solid #e5e5e5;
        padding: 15px;
        display: inline-block;
        width: 100%;
        zoom: 1;
    }

        .modal-buttons button, input {
            margin-top: 0;
        }

        button.btnModal, a.btn.btnModal, .modal-buttons > ul li a.btnModal {
            font-family: 'SF UI Text Medium', 'SF UI Text Light', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, Verdana, sans-serif;
            font-weight: 500;
        }

        .modal-dialog button, .modal-dialog input, .modal-dialog label, a.btn, .modal-buttons > ul li a {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            cursor: pointer;
            padding: 3px 10px 4px;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border-radius: 3px;
            margin-top: 2px;
            background: none;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: -.016em;
            -moz-transition-property: all;
            -o-transition-property: all;
            -webkit-transition-property: all;
            transition-property: all;
            -moz-transition-duration: 300ms;
            -o-transition-duration: 300ms;
            -webkit-transition-duration: 300ms;
            transition-duration: 300ms;
        }

        .modal-buttons .right-buttons {
            float: right;
        }

    .spanModal {
        float: left;
        font-family: 'SF UI Text Medium', 'SF UI Text Light', 'Helvetica Neue', 'HelveticaNeue', Helvetica, Arial, Verdana, sans-serif;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: -.006em;
        margin-right: 4px;
        clear: right;
    }

    .modal-inp-text {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        border: 1px solid #d9d9d9;
        padding: 5px 8px;
        width: 630px;
        max-width: 630px;
        min-width: 630px;
        height: 400px;
        max-height: 600px;
        min-height: 250px;
        line-height: 22px;
    }

    .green {
        border: 1px solid #95f816;
        outline: none;
        color: #95f816;
    }

    .red {
        border: 1px solid #ff4614;
        outline: none;
        color: #ff4614;
    }

    .blue {
        border: 1px solid #3df;
        outline: none;
        color: #3df;
    }

    .btnSt {
        margin-left: 5px;
        border: none;
        width: 120px;
        height: 40px;
        background-color: white;
        font-size: 20px;
        color: rgb(51, 51, 51);
        border-color: rgba(51, 51, 51, 1);
    }

    .activeBtn {
        border-radius: 1px;
        border-top: solid;
        border-right: solid;
        border-left: solid;
        border-width: 1.3px;
        position: relative;
        top: 2px;
        border-color: rgba(51, 51, 51, 0.3);
    }

    .btnCreateoOrder {
        color: white;
        background-color: darkgray;
        display: inline-block;
        padding: 10px;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        border: 2px solid;
        border-radius: 7px;
        margin-bottom: 10px;
        margin-left: 14px;
    }

        .btnCreateoOrder:hover {
            transition: 0.3s;
            background-color: rgb(51, 51, 51);
        }

    .btnId:hover {
        background-color: rgba(45,45,45,0.98);
        color: white;
        transition: 0.5s;
    }

    .btnId {
        color: rgba(45,45,45,0.88);
        background: none;
        display: inline-block;
        padding: 6px;
        font-size: 13px;
        font-weight: 400;
        text-align: center;
        border: 1px solid;
        border-radius: 4px;
        margin: 2px;
    }

    .inpData {
        font-size: 18px;
        color: rgb(51, 51, 51);
    }

    .contentDriver {
        padding: 20px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(45, 45, 45, 0.38);
        max-width: 800px;
        min-width: 600px;
        margin: 10px;
        display: flex;
    }

    .contentBody {
        width: 100%;
        height: 100px;
        border-top: solid;
        border-width: 1px;
        border-color: rgba(51, 51, 51, 0.3);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around
    }

    .body {
        margin-top: 30px;
        margin-left: 5px;
        margin-right: 5px;
        padding: 10px;
    }
</style>